@import "tailwindcss";

@theme {
  /* 
   * Couleurs du thème MTL Vélo 
   * Validation WCAG 2.1 AA (Contraste minimal requis 4.5:1)
   */
  --color-mtl-primaire: #15803D; /* Contraste avec blanc (#FFFFFF) = 5.01:1 (Conforme) */
  --color-mtl-fond: #F1F5F9;     /* Fond clair réduisant la fatigue visuelle */
  --color-mtl-texte: #0F172A;    /* Texte sombre offrant une excellente lisibilité */
}