JWT_SECRET=remplace-moi-par-une-vraie-cle-secrete-aleatoire
JWT_EXPIRATION=24h

GEMINI_API_KEY=remplace-moi-par-une-vraie-cle-api-gemini

# Durée de vie de la mémoire du Chatbot en millisecondes (ex: 86400000 ms = 24h)
VITE_CHATBOT_EXPIRATION_MS=86400000
